@import "styles/common";

.inputDateTime {
  .top {
    display: flex;
    align-items: center;
    margin: 0 0 8px;

    label {
      @include paragraph;
      display: block;
      margin: 0 8px 0 0;
      color: $black;
      white-space: nowrap;
    }
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
    color: $black;
    border: 1px solid $black-25;
    border-radius: 8px;
    background: $white-25;

    &.error {
      border: 2px solid $error;
    }

    &.focused {
      outline: none;
      border: 1px solid $primary-0;
    }


    input {
      @include paragraph;
      flex-grow: 1;
      min-width: 0;
      padding: 16px 0;
      border: none;
      background: none;

      &:focus {
        outline: none;
      }
  
      &::placeholder {
        color: $black-50;
      }
    }

    svg {
      color: $black-50;
    }
  }

  .errorMessage {
    @include paragraph-small;
    margin: 8px 0 0;
    color: $error;
  }

  &.disabled {
    opacity: 0.5;
  }

  .dropdownContainer {
    position: relative;
    margin: 4px 0 0;

    .dropdown {
      @include dropdown-shadow;
      position: absolute;
      padding: 32px;
      background: $white;
      border-radius: 8px;

      .modes {
        @include paragraph;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 0 0 16px;

        .modeButton {
          @include clear-button;
          width: 100%;
          padding: 8px 16px;
          background: $black-05;
          color: $black;
          border-radius: 8px;
          transition: 0.15s;

          &:hover {
            background: $primary-10;
          }

          &.selected {
            background: $primary;
            color: $white;
          }
        }
      }
    }
  }

  :global {
    .rdtPicker {
      @include paragraph;
      margin: 0;
      padding: 0;
      color: $black;
      border: none;
    }

    .rdtDays {
      table {
        display: flex;
        flex-direction: column;
        gap: 8px;

        thead {
          tr {
            display: flex;
          }

          tr:nth-child(1) {
            justify-content: space-between;
            align-items: center;

            .rdtSwitch {
              @include paragraph;
              font-weight: 600;
              width: auto;
              height: auto;
              padding: 8px 16px;
              border-radius: 8px;
            }

            .rdtPrev,
            .rdtNext {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 32px;
              height: 32px;
              border-radius: 8px;
            }
          }

          tr:nth-child(2) {
            gap: 8px;

            .dow {
              @include paragraph-small;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              color: $black-50;
            }
          }
        }

        tbody {
          display: flex;
          flex-direction: column;
          gap: 8px;

          tr {
            display: flex;
            gap: 8px;

            .rdtDay {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              color: $black-75;
              border-radius: 8px;

              &.rdtOld {
                color: $black-25;
              }

              &.rdtActive,
              &.rdtActive:hover {
                font-weight: 700;
                background: $primary;
                color: $white;
              }

              &.rdtToday {
                font-weight: 700;
                
                &:not(.rdtActive) {
                  color: $black;
                }

                &::before {
                  display: none;
                }
              }
            }
          }
        }

        tfoot {
          border: none;

          tr {
            display: flex;
            justify-content: center;

            .rdtTimeToggle {
              width: auto;
              height: auto;
              padding: 8px 16px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
