@import "../../../../variables";

.snippet-container {
  height: 70vh;
  table {
    border-collapse: separate;
    thead {
      tr {
        position: sticky;
        top: 0;
        z-index: 1;
      }
      tr:first-of-type {
        th:first-of-type {
          border-top-left-radius: 2rem;
        }
        th:last-of-type {
          border-top-right-radius: 2rem;
        }
      }
    }
    tbody {
      tr:last-of-type {
        td:first-of-type {
          border-bottom-left-radius: 1rem;
        }
        td:last-of-type {
          border-bottom-right-radius: 1rem;
        }
      }
    }
    th,
    td {
      transition: 0.15s;
    }
  }
}
