@import "../../variables.scss";



.bg {
  z-index: 0;
  min-width: 100vw;
  background-color: white;
  filter: saturate(0.85);
  top: 0;
  right: 0;
  position: absolute;
}

.header_text {
  position: relative;
  margin-left: 13.3vw;
  margin-top: 23vh;
  font-family: $font-display;
  padding: 0;
}
.header {
  min-height: calc(100vh - 64px);
  background-color: white;
}
.name_main {
  letter-spacing: 0.3rem;
  font-size: 112px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin: 0;
  color: #251E29;

  font-weight: 700;

}

.description {
  font-size:27px;
  line-height: 32px;
  margin: 0;
  margin-top: 24px;
  color: #251E29;
}

.links_img {
    width: 1.2rem;
    height: 1.2rem;
}

.links {
  margin-top: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.link_text {
  font-size: 20px;
  color: black;
}

.external_link {
  text-decoration: none;
  background: transparent url('/../public/icons/external-link.svg') center right no-repeat;
  background-size: 16px;
  padding-right: 20px;
  color: black;
}