@import "../../variables.scss";

.video-header {
  video {
    z-index: 0;
    width: max(120vw, 90rem);
    filter: saturate(0.85);
    bottom: 0;
    left: 0;
  }

  .name-main {
    font-family: $font-display;
    letter-spacing: 0.3rem;
  }
}
