@import "styles/common";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 64px;
  z-index: 1000;

  @include sm {
    padding: 24px 28px;
  }

  .brand,
  .auth {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .auth {
    @include sm {
      display: none;
    }
  }

  .brand {
    cursor: pointer;

    .brandName {
      color: $black;
    }
  }

  a {
    text-decoration: none;
  }

  .brandName {
    @include sm {
      display: none;
    }
  }

  .menu {
    @include sm-up {
      display: none;
    }
  }
}

.background {
  border-bottom: 1px solid $primary-0;
  background: $background;
  transition: background-color 0.3s;
}
