@import "../../variables.scss";

.video-header {
  z-index: 10;

  video {
    z-index: 0;
    width: 120vw;
    filter: saturate(0.85);
    bottom: 0;
    left: 0;
  }

  .name-main {
    font-family: $font-display;
    font-size: 6rem;
    letter-spacing: 0.3rem;
    line-height: 7rem;
  }
}
