@import "styles/common";

.container {
  @include paragraph;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    border: 2px solid $black-50;
    border-radius: 100vmax;

    &:checked {
      border: 6px solid $primary-0;
    }

    &:disabled {
      border-color: $black-25;
    }

    &:hover:not(:checked) {
      border-color: $primary-0;
    }
  }
}
