@import "styles/common";

.header {
  text-align: center;
  margin: 0 0 32px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldsRow {
  display: flex;
  gap: 24px;
  box-sizing: border-box;

  & > * {
    flex-grow: 1;
    max-width: calc(50% - 12px);
  }
}

.propsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > p {
      text-align: left;
      flex: 50%;
      flex-grow: 1;
      vertical-align: middle;
    }
  }
}

.buttonsRow {
  gap: 16px;
  justify-content: center;
  display: flex;
  margin-top: 32px;
}

