@import "styles/common";

.description {
  margin-top: 16px;
}

$container-width: 466px;
$expanded-container-width: 1100px;

@mixin container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  width: $container-width;
}

.presetSelectorContainer {
  @include container;
}

.formContainer {
  @include container;

  &.expanded {
    width: 100%;
    max-width: $expanded-container-width;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 24px;

    @media (max-width: 960px) {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: $container-width;
    }
  }
}

.line {
  width: $container-width;
  border: 0;
  border-top: 1px solid $black-25;
  margin: 1em auto;
  padding: 0;
}
