@import "../../variables.scss";

.button {
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
}

.sm {
  @include paragraph;

  min-width: 5.05rem;
  height: 2.1rem;
  padding: 0.4rem 0.8rem;
}
.md {
  @include paragraph;

  min-width: 8.65rem;
  height: 2.9rem;
  padding: 0.8rem 1.6rem;
}

.lg {
  @include heading-6;

  width: 10.05rem;
  height: 3.1rem;
  padding: 0.8rem 1.6rem;
}

.tetriaty {
  color: $primary-0;
  text-decoration: underline;  
  &:hover {
    color: $primary-1;
  }
  &:focus{
    border: 2px solid #7600D1;
    box-shadow: 0px 0px 8px $info;
  }
  
  &:active {
    color: $primary-2;
    border: none;
    box-shadow: none;
  }
}

.secondary {
  color: $primary-0;
  border: 2px solid $primary-0;
  &:hover{
    background: $secondary-1;
  }

  &:focus{
    border: 2px solid $primary-0;
    filter: drop-shadow(0px 0px 8px $info);
  }

  &:active{
    background: $secondary-2;
    border: none;
    filter: none;
  }
}

.primary {
  background: $primary-0;
  color: #FFFFFF;
  &:hover{
    background: $primary-1;
  }
  &:focus {
    box-shadow: 0px 0px 8px $info;
  }
  
  &:active{
    background: $primary-2;
    box-shadow: none;
  }
}


.gradient {
    background: $primary-gradient-0;
    box-shadow: $primary-shadow-0;
    color: #FFFFFF;

    &:hover {
      background: $primary-gradient-1;
      box-shadow: $primary-shadow-0;
    }

    &:focus {
      background: $primary-gradient-0;
      box-shadow: $primary-shadow-1;
    }

    
    &:active {
      background: $primary-gradient-0;
      box-shadow: $primary-shadow-0;
    }
}