@import "styles/common";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  text-align: center;
  text-decoration: none;
  transition: 0.15s;

  &:disabled {
    cursor: default;
  }

  &.withoutText {
    min-width: initial;
  }

  svg {
    flex-shrink: 0;
  }
}

@mixin button-size($min-width, $padding-y, $padding-x) {
  @include paragraph;
  min-width: $min-width;
  padding: $padding-y $padding-x;

  &.withoutText {
    padding: $padding-y;
  }
}

.sm {
  @include button-size(5.05rem, 0.4rem, 0.8rem);
  box-shadow: none;
}

.md {
  @include button-size(8.65rem, 0.8rem, 1.6rem);
}

.lg {
  @include button-size(10.05rem, 1.2rem, 2.4rem);
  @include heading-6;
}

.tertiary {
  text-decoration: underline;
  color: $primary-0;

  &:hover {
    color: $primary-1;
  }

  &:active {
    box-shadow: none;
    outline: none;
    color: $primary-2;
  }

  &:focus {
    box-shadow: 0 0 8px $info;
    outline: 2px solid $primary-0;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
  }
}

%secondary {
  color: $primary-0;
  background: $secondary-2;

  &:hover {
    background: $secondary-1;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($primary-0, 0.75);
  }

  &:active {
    background: $secondary-2;
  }

  &:disabled {
    color: $black-50;
    background: $black-05;
  }

  svg *:not([fill = "none"]) {
    fill: $primary-0;
  }
}

.secondary {
  @extend %secondary;
}

.secondary-danger {
  @extend %secondary;
  background: $error-10;
  color: $error;
}

.primary {
  background: $primary-0;
  color: $white;

  &:hover {
    background: $primary-1;
  }

  &:focus {
    box-shadow: 0 0 8px $info;
  }

  &:active {
    box-shadow: none;
    background: $primary-2;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
    background: $black-10;

    svg *:not([fill = "none"]) {
      fill: $black-50;
    }
  }
}

.gradient {
  box-shadow: $primary-shadow-0;
  background: $primary-gradient-0;
  color: $white;

  &:hover {
    box-shadow: $primary-shadow-0;
    background: $primary-gradient-1;
  }

  &:focus {
    box-shadow: $primary-shadow-1;
    background: $primary-gradient-0;
  }

  &:active {
    box-shadow: $primary-shadow-0;
    background: $primary-gradient-0;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
    background: linear-gradient(
      53.13deg,
      rgba(37, 30, 41, 0.12) 9.04%,
      rgba(37, 30, 41, 0.08) 89.96%
    );
  }
}
