@import "styles/common";

.inputSelect {
  .top {
    display: flex;
    align-items: center;
    margin: 0 0 8px;

    label {
      @include paragraph;
      display: block;
      margin: 0 8px 0 0;
      color: $black;
    }
  }

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 16px;
    border: 1px solid $black-25;
    border-radius: 8px;
    background: $white-25;

    &.focused {
      border: 1px solid $primary-0;
    }

    &.error {
      border: 2px solid $error;
    }
  }

  .valueContainer {
    position: relative;
    display: flex;
  }

  .singleValue {
    @include paragraph;
  }

  .placeholder {
    @include paragraph;
    color: $black-50;
  }

  .input {
    position: absolute;
    @include paragraph;

    &.hasValue {
      position: relative;
    }

    > div {
      margin: 0;
      padding: 0;
    }

    input {
      @include paragraph;
      padding: 0;
      background: none;
      border: none;
      outline: none;
    }
  }

  .indicatorsContainer {
    opacity: 0.5;
  }

  p.error {
    @include paragraph-small;
    margin: 8px 0 0;
    color: $error;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.noOptionsMessage {
  color: $black-50;
  text-align: center;
}

.option {
  @include paragraph;
  padding: 16px;

  &.focused {
    background: $primary-02;
  }

  &.selected {
    background: $primary-10;
  }
}
