@import "styles/common";

.backgroundFade {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $black-50;
  z-index: 1000;

  .container {
    @include dropdown-shadow;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
    max-height: calc(100% - 64px);
    padding: 48px;
    overflow-y: auto;
    overflow-x: visible;
    border-radius: 16px;
    background: $white;

    .title {
      margin: 0 0 32px;
    }

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
      margin: 24px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }
  }
}
