@import "styles/common";

.description {
  margin-top: 16px;
}

.containerLess4Inputs, .bigContainer {
  margin: auto;
  flex-direction: column;
  gap: 24px;
  display: flex;
  width: 100%;
  max-width: 466px;
}

.bigContainer {
  max-width: 1100px;
}

.containerOver4Inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  width: 100%;

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.filler {
  height: 80px;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;

  .text {
    h6 {
      @include heading-6;
      margin-bottom: 8px;
    }
  }
}

.line {
  width: 100%;
  grid-column: span 2;
  border: 0;
  border-top: 1px solid $black-25;
  padding: 0;
}
