@import "styles/common";

.changePasswordModal {
  .title {
    text-align: center;
    margin: 0 0 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 0 32px;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
