@import "styles/common";

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  gap: 96px;
  padding: 48px 256px;

  @media (max-width: 1200px) {
    padding: 48px 128px;
  }
}

.sectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  text-align: center;
}

.footer {
  position: relative;
  gap: 16px;
  justify-content: center;
  display: flex;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
