@import "styles/common";

.card {
    flex: none;
    order: 2;
    flex-grow: 0;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    box-sizing: border-box;
    padding: 16px 24px;
    width: 250px;
    min-height: 112px;
    border: 2px solid $black;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
}

@media(max-width: 1050px){
  .card {
    flex-grow: 1;
  }
}

.card.selected {
    border: 2px solid $primary-0;
    background: $primary-05;
}
  
.card_description{
  @include paragraph-small;
  white-space: pre-line;

  span.large_content {
    font-size: 12px;
  }
}
.card_title {
  justify-content: space-between;
  display: flex;
  width: 100%;
  
  img {
    cursor:pointer;
  }
  p{
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}