
@import "styles/common";

.card {
    flex: none;
    order: 2;
    flex-grow: 0;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    box-sizing: border-box;
    padding: 16px 24px;
    width: 250px;
    height: 112px;
    border: 2px solid #251E29;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;

}

@media(max-width: 1050px){
  .card {
    width: calc(50% - 16px);
  }
}

.card.selected {
    border: 2px solid #7600D1;
    background: rgba(118, 0, 209, 0.05);
}
  
.card_description{
  @include paragraph-small;
  flex-direction: column;
  display: flex;
  width: 100%;
  font-size: 15px;

  span.large_content {
    font-size: 12px;
  }
}
.card_title {
  justify-content: space-between;
  display: flex;
  width: 100%;
  
  img {
    cursor:pointer;
  }
}