
@import "styles/common";

.card {
    box-sizing: border-box;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 16px;
    width: 250px;
    height: 112px;
    border: 2px solid #251E29;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
  }
  .card.selected {
    background: rgba(118, 0, 209, 0.05);
    border: 2px solid #7600D1;
  }
  
  .card_description{
    display: flex;
    width: 100%;
    flex-direction: column;
    @include paragraph-small;
    font-size: 15px;

    span.large_content {
        font-size: 12px;
    }
  }
  .card_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    img {
      cursor:pointer;
    }
  }