@import "styles/common";

.inputSelect {
  .top {
    display: flex;
    align-items: center;
    margin: 0 0 8px;

    label {
      @include paragraph;
      display: block;
      margin: 0 8px 0 0;
      color: $black;
    }
  }

  p.error {
    @include paragraph-small;
    margin: 8px 0 0;
    color: $error;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.multiSelect {
  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 11px 16px;
    border: 1px solid $black-25;
    border-radius: 8px;

    &.focused {
      border: 1px solid $primary-0;
      //box-shadow: 0 0 1px $primary-0 !important; /* stylelint-disable-line declaration-no-important */
    }

    &.error {
      border: 1px solid #00000000;
      outline: 2px solid $error;
    }
  }

  .multiValue {
    padding: 3px 8px;

    background: rgba(118, 0, 209, 0.1);
    border-radius: 4px;
    margin: 2px;
  }

  .multiValueLabel {
    @include paragraph;
    color: $primary-1;

    margin: auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .multiValueRemove {
    @include paragraph;

    margin-left: 4px;
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    height: 15px;
    width: 15px;

    & path {
      fill: $primary-1;
    }
  }

  .placeholder {
    @include paragraph;
    color: $black-50;
  }

  .input {
    @include paragraph;
    padding: 3px 0;
    background: none;
    border: none;
    outline: none;
  }

  .clearIndicator {
    cursor: pointer;
    transition: 100ms;
    opacity: 0.5;
    margin-right: 2px;

    &:hover {
      opacity: 0.75;
    }
  }

  .dropdownIndicator {
    cursor: pointer;
    transition: 100ms;
    opacity: 0.5;
    margin-left: 2px;

    &:hover {
      opacity: 0.75;
    }
  }

  .indicatorsContainer {
    margin: 0;
  }

  .option {
    @include paragraph;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;

    .optionText {
      // min-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // .optionBadgeContainer {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: flex-end;
    //   align-items: center;
    // }

    &.once {
      justify-content: space-between;
    }

    &.focused {
      background: $primary-02;
    }

    &.selected {
      background: $primary-10;
    }
  }

  .noOptionsMessage {
    color: $black-50;
    text-align: center;
  }

  p.error {
    @include paragraph-small;
    margin: 8px 0 0;
    color: $error;
  }

  &.disabled {
    opacity: 0.5;
  }
}