@import "styles/common";

.teamMemberBadge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid $black-25;
  background: $white-25;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      margin: 0 0 4px;
      font-weight: 700;
    }

    .activeIcon {
      width: 16px;
      height: 16px;
      color: $primary-0;
    }

    small {
      color: $black-50;
    }
  }

  .description {
    text-align: center;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: 1;
    gap: 8px;

    .icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }
}
