@import "styles/common";

.wrapper {
  @include paragraph;

  padding: 4px 12px;
  border-radius: 8px;
  user-select: none;
}

.primary {
  color: $primary-0;
  background: $primary-10;
}

.secondary {
  color: $black-75;
  background: $black-10;
}
