@import "styles/common";

.container {
  display: flex;
  gap: 8px;
  align-items: center;

  li a {
    @include paragraph;

    padding: 8px;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    text-align: center;

    color: $black-75;
  }

  li:first-child a,
  li:last-child a {
    padding: 8px;
    height: 32px;
    border-radius: 8px;
    display: inline-block;
    background: $black-10;
    cursor: pointer;
    text-align: center;
    line-height: 3px;
  }
  li:first-child a {
    transform: rotate(180deg);
  }
  li a[rel = "canonical"] {
    background: $primary-0;
    color: $white;
    min-width: 40px;
    text-align: center;
  }
}
