@import "styles/common";

.container {
  display: flex;
  gap: 8px;
  align-items: center;

  li {
    a {
      @include paragraph;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 8px;
      cursor: pointer;
      color: $black-75;
    }

    &:first-child a, &:last-child a {
      background: $black-10;
    }

    &:first-child a {
      transform: rotate(180deg);
    }
  }

  :global {
    li.selected a {
      background: $primary-0;
      color: $white;
    }
  }
}
