@import "styles/common";

.title {
  text-align: center;
  margin: 0 0 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 0 0 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
