@import "styles/common";

.dependencyListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.attr {
  @include paragraph-small;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  background: $black-10;
  border: 2px solid transparent;
  color: $black-75;
}

.row {
  gap: 16px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    transform: translateX(8px);
  }

  .attr {
    transition: 0.15s;
  }
}

.arrowContainer {
  position: relative;

  small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: center;
    padding: 1px 8px;
    background: $white;
    border: 2px solid $black;
    border-radius: 8px;
  }
}

.row.selectedRow {
  .attr {
    border: 2px solid $primary-0;
    background: $secondary-1;
    color: $black;
  }

  svg * {
    fill: $primary-0;
  }

  small {
    border-color: $primary-0;
    color: $primary-0;
  }
}

.row.errorRow {
  .attr {
    background-color: $error-10;
    color: $error;
  }

  svg * {
    fill: $error;
  }

  small {
    border-color: $primary-0;
    color: $error;
  }

}

:export {
  errorColor: $error;
}
