@import "styles/common";

.externalLink {
  @include paragraph;
  display: flex;
  align-items: center;
  background-size: 16px;
  text-decoration: none;
  color: $black;

  &:hover {
    border-bottom: 1px solid $black;
    margin-top: 1px;
    color: $black;
  }

  .imageWrapper {
    margin: 0 0 0 4px;
  }
}