@import "variables.module";

@mixin heading-1 {
  font-family: $font-display;
  font-size: 5.6rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 700;
}

@mixin heading-2 {
  font-family: $font-display;
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 120%;
}

@mixin heading-3 {
  font-family: $font-display;
  font-size: 3.15rem;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@mixin heading-4 {
  font-family: $font-display;
  font-size: 2.35rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.01em;
}

@mixin heading-5 {
  font-family: $font-display;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 700;
}

@mixin heading-6 {
  font-family: $font-display;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 120%;
}

@mixin paragraph {
  font-family: $font-content;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

@mixin paragraph-small {
  @include paragraph;
  font-size: 0.75rem;
}

/* stylelint-disable declaration-colon-space-after */
@mixin toast-shadow {
  box-shadow:
    0 81px 80px rgba(0, 0, 0, 0.08),
    0 33.8399px 33.4221px rgba(0, 0, 0, 0.0575083),
    0 18.0924px 17.869px rgba(0, 0, 0, 0.0476886),
    0 10.1425px 10.0172px rgba(0, 0, 0, 0.04),
    0 5.38658px 5.32008px rgba(0, 0, 0, 0.0323114),
    0 2.24148px 2.21381px rgba(0, 0, 0, 0.0224916);
}

@mixin dropdown-shadow {
  box-shadow:
    0 51px 48px rgba(0, 0, 0, 0.06),
    0 21.3066px 20.0533px rgba(0, 0, 0, 0.0431313),
    0 11.3915px 10.7214px rgba(0, 0, 0, 0.0357664),
    0 6.38599px 6.01034px rgba(0, 0, 0, 0.03),
    0 3.39155px 3.19205px rgba(0, 0, 0, 0.0242336),
    0 1.4113px 1.32828px rgba(0, 0, 0, 0.0168687);
}

/* stylelint-enable declaration-colon-space-after */

@mixin clear-link {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $primary-0;
    text-decoration: underline;
  }
}

@mixin clear-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
