/* Fonts */
$font-display: "Palanquin", sans-serif;
$font-content: "Roboto", sans-serif;

/* Text */
$text-white: #ffffff;
$text-grey: #969696;
$text-black: #251E29;
$text-highlight-1: #63a67e;
$text-highlight-2: #8963a6;

/* Background */
$background-dark: #17151a;
$background-light: #ffffff;

/* Elements */
$background-active: #1b181e;
$light: #e5e5e5;
$border: #2c2730;
$border-active: #403946;


/* Semantics */
$error: #E6485B;
$info: #48BDFF;
$button-white: rgb(2, 2, 2);
$button-black: #101010;

/* Primary */

$primary-0: #7600D1;
$primary-1: #59009E;
$primary-2: #9327E7;

$secondary-0: transparent;
$secondary-1: rgba(118, 0, 209, 0.05);
$secondary-2: rgba(118, 0, 209, 0.1);

$primary-gradient-0: linear-gradient(53.13deg, #8200D1 9.04%, #534AC2 89.96%);
$primary-gradient-1: linear-gradient(53.13deg, #6A00AB 9.04%, #433B9C 89.96%);

$primary-shadow-0: 0px 75px 92px rgba(0, 0, 0, 0.12), 0px 31.3332px 38.4354px rgba(0, 0, 0, 0.0862625), 0px 16.7522px 20.5494px rgba(0, 0, 0, 0.0715329), 0px 9.39116px 11.5198px rgba(0, 0, 0, 0.06), 0px 4.98758px 6.11809px rgba(0, 0, 0, 0.0484671), 0px 2.07544px 2.54588px rgba(0, 0, 0, 0.0337375);
$primary-shadow-1: 0px 0px 8px $info, 0px 75px 92px rgba(0, 0, 0, 0.12), 0px 31.3332px 38.4354px rgba(0, 0, 0, 0.0862625), 0px 16.7522px 20.5494px rgba(0, 0, 0, 0.0715329), 0px 9.39116px 11.5198px rgba(0, 0, 0, 0.06), 0px 4.98758px 6.11809px rgba(0, 0, 0, 0.0484671), 0px 2.07544px 2.54588px rgba(0, 0, 0, 0.0337375);

$primary-complementary-gradient: linear-gradient(53.13deg, #7600D1 9.04%, #00C1A4 89.96%);