@import "styles/common";

.subHeader {
  @include paragraph;
  display: flex;
  gap: 16px;
}

.filters {
  flex-direction: row;
  gap: 16px;
  display: flex;
  align-items: flex-end;

  .buttons {
    gap: 16px;
    display: flex;

    button {
      height: 60px;
    }
  }
}

.clustersContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rows {
  padding-top: 24px;
  min-height: 300px;
}

.pagination {
  margin-top: 24px;
}

.table {
  max-width: 100%;
  width: fit-content;
  margin: 0;

  tr {
    @include paragraph-small;
    color: $black-75;
  }
}
