@import "styles/common";

.pageName {
  text-align: center;
  margin: 0 0 16px;
}

.pageDescription {
  button {
    margin: 0 0 0 16px;
  }
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 112px;

  .inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: min-content;
  }

  .descriptionAside {
    max-width: 450px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
