@import "styles/common";

.loader {
  gap: 40px;
  display: flex;
  align-items: center;
  margin-top: 30vh;
  margin-left: 15vw;

  .content {
    flex-direction: column;
    gap: 16px;
    display: flex;

    .dependency {
      display: flex;
      gap: 8px;

      .attr {
        border-radius: 8px;
        text-align: center;
        padding: 6px 16px;
        background: $primary-10;
        color: $primary-0;
      }

      img {
        filter: brightness(3) saturate(3.4);
      }
    }
  }
}

.container {
  h5 {
    margin-bottom: 32px;
  }
}
