@import "styles/common";

.description {
  margin-top: 16px;
}


.container {
  margin: auto;
  flex-direction: column;
  gap: 24px;
  display: flex;
  width: 466px;
}

.filler {
  height: 80px;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;

  .text {
    h6 {
      @include heading-6;
      margin-bottom: 8px;
    }
  }
}