@import "styles/common";

.filler {
  display: flex;
  align-items: center;
  margin: auto;
  height: 80px;
  width: fit-content;
  
  .text {
    h6 {
      @include heading-6;
      margin-bottom: 8px;
    }
  }
}
