@import "styles/common";

.filters {
  flex-direction: row;
  gap: 16px;
  display: flex;
  align-items: flex-end;
  margin-top: 32px;

  .search {
    flex-shrink: 0;
  }

  .buttons {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;

    button {
      height: 60px;
    }
  }
}

.rows {
  padding-top: 24px;
  min-height: 300px;
}

.pagination {
  margin-top: 24px;
}
