@import "common";
@import "reset";

html {
  font-size: 20px; // Kirill said to add this
}

html, body, #__next {
  height: 100%;
}

html {
  font-size: 20px;
  color: $black;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

p {
  @include paragraph;
}

small {
  @include paragraph-small;
}
