@import "styles/common";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include sm {
    align-items: flex-start;
  }

  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 160px;

    @media (max-width: 1600px) {
      margin: 0 128px;
    }

    @media (max-width: 1440px) {
      margin: 0 64px;
    }

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @include sm {
      flex-direction: column-reverse;
      margin: 0;
      height: 100%;
    }

    .content {
      @include sm {
        margin: 24px 32px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .name {
        margin: 0;
        color: $black;

        @include sm {
          @include heading-4;
        }
      }

      .description {
        margin: 1.2rem 0 0;
        color: $black;

        @include sm {
          @include paragraph;
          margin-top: 8px;
        }

        .supported {
          white-space: nowrap;
        }

        .unidataLogo {
          position: relative;
          bottom: -4px;
          display: inline-flex;
          margin-left: 8px;

          &:hover {
            cursor: pointer;

            &::before {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              transform: translateY(1px);
              width: 117px;
              height: 2px;
              background: #000000;
            }
          }

          @include sm {
            bottom: -2px;

            svg {
              width: 110px;
              height: 19px;
            }
          }
        }
      }

      .links {
        flex-direction: row;
        align-items: center;
        gap: 48px;
        display: flex;
        margin-top: 2.9rem;

        @include sm {
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          margin-top: 28px;

          button {
            width: 100%;
          }
        }

        .external {
          display: inherit;
          gap: inherit;

          @include sm {
            gap: 16px;
          }
        }
      }
    }

    .videoContainer {
      position: relative;
      aspect-ratio: 16 / 15;
      width: 640px;

      @media (max-width: 1600px) {
        width: 480px;
      }

      @media (max-width: 1440px) {
        width: 400px;
      }

      @media (max-width: 1200px) {
        display: none;
      }

      @include sm {
        display: block;
        height: 72vw;
      }

      video {
        position: absolute;
        right: -30%;
        top: -39%;
        width: 160%;
        height: 170%;
        pointer-events: none;
      }
    }
  }
}
