@import "styles/common";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 160px;

    @media (max-width: 1600px) {
      margin: 0 128px;
    }

    @media (max-width: 1440px) {
      margin: 0 64px;
    }

    @media (max-width: 1200px) {
      justify-content: center;
    }

    .content {
      .name {
        margin: 0;
        color: $black;
      }

      .description {
        margin: 1.2rem 0 0;
        color: $black;
      }

      .links {
        flex-direction: row;
        align-items: center;
        gap: 48px;
        display: flex;
        margin-top: 2.9rem;
      }
    }

    .videoContainer {
      position: relative;
      aspect-ratio: 16 / 15;
      width: 640px;

      @media (max-width: 1600px) {
        width: 480px;
      }

      @media (max-width: 1440px) {
        width: 400px;
      }

      @media (max-width: 1200px) {
        display: none;
      }

      video {
        position: absolute;
        right: -30%;
        top: -39%;
        width: 160%;
        height: 170%;
        pointer-events: none;
      }
    }
  }
}
