@import "styles/common";

.papersPage {
  max-width: 1536px;
  width: 100%;
  margin: 64px auto;
  padding: 0 64px;

  .background {
    position: fixed;
    inset: 0 0 0 0;
  }

  .prPublications {
    position: relative;
    margin: 0 0 64px;
  }

  .sciencePublications {
    position: relative;
  }

  .sectionTitle {
    margin: 0 0 24px;
  }

  .papersContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
