@import "styles/common";

.teamPage {
  max-width: 1536px;
  width: 100%;
  margin: 64px auto;
  padding: 0 64px;

  .background {
    position: fixed;
    inset: 0 0 0 0;
  }

  .teamCardsContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 32px;
  }
}
