@import "styles/common";

.container {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.collabsableOutput {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    white-space: nowrap;
    margin-right: 4px;
  }
}

.buttonShow {
  @include paragraph-small;
  color: $primary-0;
  text-decoration: underline;
  margin-left: 4px;
}

.withShowAll {
  display: flex;
}

.whenShowAll {
  overflow: visible;
  white-space: normal;
}

.withoutMargin {
  margin-left: 0;
}