/* Fonts */

$font-display: "Palanquin", sans-serif;
$font-content: "Roboto", sans-serif;


@mixin heading-1 {
    font-family: $font-display;
    letter-spacing: 0.3rem;
    font-size: 5.6rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    font-weight: 700;
}

@mixin heading-2 {
    font-family: $font-display;
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 120%;
}

@mixin heading-3 {
    font-family: $font-display;
    font-size: 3.15rem;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.01em;
}

@mixin heading-4 {
    font-family: $font-display;
    font-size: 2.35rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
}

@mixin heading-5 {
    font-family: $font-display;
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 700;
    line-height: 120%;
}

@mixin heading-6 {
    font-family: $font-display;
    font-size: 1.35rem;
    line-height: 1.6rem;
    font-weight: 400;
    line-height: 120%;
}

@mixin paragraph {
    font-family: $font-content;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

@mixin paragraph-small {
    @include paragraph;
    font-size: 15px;
}

/* Colors */
/* Text */
$text-white: #ffffff;
$text-grey: #969696;
$text-black: #000000;
$text-highlight-1: #63a67e;
$text-highlight-2: #8963a6;

/* Background */
$background-dark: #17151a;
$background-light: #ffffff;

/* Elements */
$background-active: #1b181e;
$light: #e5e5e5;
$border: #2c2730;
$border-active: #403946;

/* Primary */
$primary-0: #39b46b;
$primary-1: #7600d1;
$primary-2: #b700ff;

/* Semantics */
$error: #f03c3c;
$button-white: rgb(2, 2, 2);
$button-black: #101010;

/* Chart */
$chart-other: #969696;
$chart-0: #ff5757;
$chart-1: #575fff;
$chart-2: #4de3a2;
$chart-3: #edc645;
$chart-4: #d159de;
$chart-5: #32bbc2;
$chart-6: #ffa857;
$chart-7: #8dd44a;
$chart-8: #6298d1;
