@import "./variables.scss";

$dark: #17151a;
$danger: #f03c3c;
$primary: #7600d1;
$light: #ffffff;
$lighter-dark: #2c2730;
$grey: #969696;
$success: #39b46b;

$theme-colors: (
  "dark": $dark,
  "lighter-dark": $lighter-dark,
  "danger": $danger,
  "primary": $primary,
  "light": $light,
  "grey": $grey,
  "success": $success,
);

.cursor-pointer {
  cursor: pointer;
}

@import "../node_modules/bootstrap/scss/bootstrap";

$h0-font-size: $font-size-base * 6;

.fs-0 {
  font-size: $h0-font-size;
}

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed,
    ),
  )
);
