@import "styles/common";

.buttonsRow {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.stats {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .processing {
    width: 100%;
    padding: 64px;

    .processingLabel {
      @include paragraph;

      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }

  .headerWithSelect {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h5 {
      margin-top: 8px;
    }
  }
}

.loading {
  padding: 128px;
  width: 100%;
  text-align: center;
}

.error, .warning {
  margin-top: 48px;
  margin-bottom: 24px;
}

.option {
  display: flex;
  gap: 8px;
  align-items: baseline;
  max-width: 30vw;
  flex-wrap: wrap;
  cursor: pointer;
}

.menu {
  position: fixed;
  background: $white;
  border-radius: 5px;
  border: 1px solid rgba($black, 0.2);
  box-shadow: 0 0 4px 0 $black-10;
  margin-top: 8px;
  z-index: 9999;
}
