@import "styles/common";

.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $warning;
  display: flex;
  padding: 16px 16px 16px 24px;
  justify-content: space-between;
  align-items: flex-start;

  .close {
    padding: 0;
    background: none;
    border: none;
    margin-left: 24px;
    color: $white;
  }
}
