@import "styles/common";

.header {
    display: flex;
    justify-content: center;

    p {
        padding: 16px 32px;
        border-bottom: 2px solid $black-10;
        cursor: pointer;
    }
    p.selected {
        border-bottom: 2px solid $primary-0;
    }
}

