@import "styles/common";

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filler {
  height: 80px;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;

  .icon {
    height: 80px;
    width: 80px;
    border-radius: 24px;
    padding: 16px;
    margin-right: 16px;
    background-color: $primary-10;

    svg {
      height: 48px;
      width: 48px;
      color: $primary-0;
    }
  }

  .text {
    h6 {
      @include heading-6;
      margin-bottom: 8px;
    }

    p {
      @include paragraph-small;
      color: $black-75;
    }
  }
}
