@import "styles/common";

.button {
  display: inline-block;
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  text-align: center;
  text-decoration: none;

  &:disabled {
    cursor: default;
  }
}

.icon{
  vertical-align: middle;
  margin-right: 8px;
  & > span {
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
  }
}

.sm {
  @include paragraph;
  min-width: 5.05rem;
  padding: 0.4rem 0.8rem;
  box-shadow: none;
}

.md {
  @include paragraph;
  min-width: 8.65rem;
  padding: 0.8rem 1.6rem;
}

.lg {
  @include heading-6;
  min-width: 10.05rem;
  padding: 1.2rem 2.4rem;
}

.tertiary {
  text-decoration: underline;
  color: $primary-0;

  &:hover {
    color: $primary-1;
  }

  &:active {
    box-shadow: none;
    outline: none;
    color: $primary-2;
  }

  &:focus {
    box-shadow: 0 0 8px $info;
    outline: 2px solid $primary-0;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
  }
}

.secondary {
  border: 2px solid $primary-0;
  color: $primary-0;

  &:hover {
    background: $secondary-1;
  }

  &:focus {
    border: 2px solid $primary-0;
    filter: drop-shadow(0px 0px 8px $info);
  }

  &:active {
    border: none;
    background: $secondary-2;
    filter: none;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
    background: none;
    border: 2px solid $black-25;
  }
}

.primary {
  background: $primary-0;
  color: #FFFFFF;

  &:hover {
    background: $primary-1;
  }

  &:focus {
    box-shadow: 0 0 8px $info;
  }

  &:active {
    box-shadow: none;
    background: $primary-2;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
    background: $black-10;
  }
}


.gradient {
  box-shadow: $primary-shadow-0;
  background: $primary-gradient-0;
  color: #FFFFFF;

  &:hover {
    box-shadow: $primary-shadow-0;
    background: $primary-gradient-1;
  }

  &:focus {
    box-shadow: $primary-shadow-1;
    background: $primary-gradient-0;
  }

  &:active {
    box-shadow: $primary-shadow-0;
    background: $primary-gradient-0;
  }

  &:disabled {
    color: $black-50;
    box-shadow: none;
    background: linear-gradient(53.13deg, rgba(37, 30, 41, 0.12) 9.04%, rgba(37, 30, 41, 0.08) 89.96%);
  }
}
