{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/object-curly-spacing": [
      "warn",
      "always",
      {
        "arraysInObjects": true,
        "objectsInObjects": true
      }
    ],
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/ban-types": ["error",
      {
        "types": {
          "Function": false
        },
        "extendDefaults": true
      }
    ],
    "linebreak-style": 1,
    "curly": 1,
    "implicit-arrow-linebreak": "off",
    "comma-dangle": [1, "always-multiline"],
    "brace-style": "off",
    "operator-linebreak": "off",
    "function-paren-newline": "off",
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "no-console": 0,
    "no-shadow": "off",
    "no-unused-vars": "off",
    "quotes": ["error", "double"],
    "import/no-unresolved": "off",
    "no-trailing-spaces": "warn",
    "space-before-function-paren": ["error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "consistent": true, "multiline": true },
        "ObjectPattern": { "consistent": true, "multiline": false },
        "ImportDeclaration": { "consistent": false, "multiline": true },
        "ExportDeclaration": "never"
      }
    ],
    "no-use-before-define": ["off", "error", { "variables": false }],
    "import/prefer-default-export": "off",
    "sort-imports": "warn",
    "semi": "warn",
    "max-len": ["warn", { "code": 100, "ignoreComments": true, "ignoreTemplateLiterals": true }]
  }
}
