.title {
  margin: 0 0 32px;
  text-align: center;
}

.formContainer {
  width: 100%;

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin: 0 0 32px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
