@import "styles/common";

.container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  padding: 8px;
  background: $black-10;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
}

.button.left {
  transform: rotate(180deg);
}

.page {
  @include paragraph;
  cursor: pointer;
  color: $black-75;
  padding: 8px;
  display: inline-block;
  border-radius: 8px;
}

.page.active {
  background: $primary-0;
  color: $white;
  min-width: 40px;
  text-align: center;
}
