.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & > :first-child {
    flex: 0.5;
  }

  @media (max-width: 960px) {
    & > :first-child {
      flex: 1;
    }
  }
}
