@import "styles/common";

.card {
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 16px 24px;
  width: 280px;
  height: 120px;
  border: 2px solid $black;
  border-radius: 8px;
  cursor: pointer;
  background: $white-25;
  transition: 0.15s;

  &:hover:not(&.disabled) {
    background: $primary-02;
  }

  &.selected {
    border: 2px solid $primary-0;
    background: $primary-05;
  }

  .cardTitle {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    svg {
      flex-shrink: 0;
    }
  }

  .cardDescription {
    @include paragraph-small;
    white-space: pre-line;

    .largeContent {
      font-size: 12px;
    }
  }

  &.disabled {
    border: 2px solid $black-25;
    cursor: default;

    .cardTitle {
      p {
        color: $black-50;
      }

      svg * {
        fill: $black-50;
      }
    }

    .cardDescription span {
      color: $black-25;
    }
  }
}
