@import "styles/common";


.authSuccessModal {
  align-items: center;

  .title {
    margin: 0 0 32px;
    text-align: center;

    .userName {
      color: $primary-0;
    }
  }

  .subtitle {
    margin: 0 0 32px;
  }
}
