@import "styles/common";

.wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.name {
  display: flex;
  gap: 8px;
  align-items: baseline;

  span {
    @include paragraph;
  }

  h6 {
    color: $primary-0;
    font-size: 27px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.badges {
  display: flex;
  gap: 8px;
}

.name-with-badges {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.basic-stats, .more-stats {
  display: flex;
  gap: 16px 32px;
  flex-wrap: wrap;
}

@mixin compact-more-stats {
  flex-direction: column;
  flex-wrap: initial;

  & > article > div {
    justify-content: space-between;
  }
}

.more-stats {
  & > * {
    flex: 1;
  }

  @media (max-width: 960px) {
    @include compact-more-stats;
  }
}

.compact {
  .more-stats {
    @include compact-more-stats;
  }
}

button.details-button {
  padding: 8px 16px;
  margin-left: auto;
  display: flex;

  & > :first-child {
    display: flex;
  }
}

.wrapper :global(.ReactCollapse--collapse) {
  transition: height 0.3s;
}

.table-mode {
  .basic-stats {
    gap: 4px 32px;

    * {
      flex: 1;
    }

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }

  @media (min-width: 961px) {
    .basic-stats, .more-stats {
      & > :first-child {
        border-right: 1px solid $black-50;
      }
    }
  }
}

.compact > .table-mode {
  .basic-stats {
    flex-direction: column;
  }

  .basic-stats, .more-stats {
    & > :first-child {
      border-right: none;
    }
  }
}
