@import "styles/common";

.greenEven {
  background: $success-05;
}

.greenOdd {
  background: $success-10;
}

.redEven {
  background: $error-05;
}

.redOdd {
  background: $error-10;
}

.checkmark {
  color: $success-100;
}

.cross {
  color: $error-100;
}

.valueText {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clickableIndex {
  text-decoration: underline;
  cursor: pointer;
}
