@import "styles/common";

.fieldsRow {
  display: flex;
  gap: 24px;
  box-sizing: border-box;

  & > * {
    flex-grow: 1;
    max-width: calc(50% - 12px);
  }
}

.container {
  width: 560px;
  height: fit-content;
  padding: 48px;
  border-radius: 16px;
  background-color: $white;

  max-height: 100vh;

  overflow-y: auto;
  overflow-x: auto;

  h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 32px;
  }

  form > * {
    margin-top: 24px;
  }
}

.propsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > p {
      text-align: left;
      flex: 50%;
      flex-grow: 1;
      vertical-align: middle;
    }
  }
}

.buttonsRow {
  gap: 16px;
  justify-content: center;
  display: flex;
  margin-top: 32px;
}

.stats {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .processing {
    width: 100%;
    padding: 64px;

    .processing-label {
      @include paragraph;

      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }

  .header-with-select {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* overflow-x: clip; */

    h5 {
      margin-top: 8px;
    }
  }
}

.loading {
  padding: 128px;
  width: 100%;
  text-align: center;
}

.option {
  display: flex;
  gap: 8px;
  align-items: baseline;
  max-width: 30vw;
  flex-wrap: wrap;
  cursor: pointer;
}

.menu {
  position: fixed;
  background: $white;
  border-radius: 5px;
  border: 1px solid rgba($black, 0.2);
  box-shadow: 0 0 4px 0 $black-10;
  margin-top: 8px;
  z-index: 9999;
}

