@import "styles/common";

.navBar {
  @include sm {
    display: none;
  }

  ul {
    display: flex;
    gap: 32px;

    a {
      color: $black;
      text-decoration: none;
    }

    li {
      &:first-of-type {
        margin: 0 32px 0 0;
      }
    }

    .brand {
      @include heading-5;
      display: flex;
      align-items: center;

      .logo {
        margin: 0 16px 0 0;
      }

      .brandName {
        font-weight: 700;
        color: $black;

        @include sm {
          display: none;
        }
      }
    }

    .underline {
      @include heading-6;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 6px;
      white-space: nowrap;
      font-weight: 500;
      border-bottom: 4px solid transparent;

      &::after {
        content: "";
        position: absolute;
        inset: auto 0 -4px 0;
        height: 4px;
        background: $primary-0;
        border-radius: 100vmax;
        opacity: 0;
        transition: opacity 0.1s;
      }

      &.selected {
        font-weight: 700;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

