@import "styles/common";

.container {
    width: 560px;
    height: fit-content;
    padding: 48px;
    border-radius: 16px;
    background-color: $white;

    h4 {
        padding:0;
        margin:0;
        text-align: center;
    }

    form > * {
        margin-top: 24px;
    }
}

.fieldsRow {
    display: flex;
    gap: 24px;
    box-sizing: border-box;

    & > * {
        flex-grow: 1;
        max-width: calc(50% - 12px);
    }
}



.propsList {
    display:flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;

    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > p {
            flex-grow: 1;
            text-align: left;
            flex: 50%;
        }
    }
}

.buttonsRow {
    gap: 16px;
    justify-content: center;
    display: flex;
    margin-top: 32px;
}

.stats {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 256px;
}