@import "styles/common";

.content {
  position: relative;
  min-height: 100vh;
  padding: 86px 0 0;
}

.error {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
  padding: 5px;

  p {
    border-bottom: 1px solid $error;
    width: fit-content;
    color: $error;
    cursor: pointer;
  }
}
