@import "../../../variables";



.background_image {
  min-width: 100vw;
  margin-top: -1550px;
  margin-right: -2900px;
}
.background {
  z-index: 0;
  min-width: 100vw;
  background-color: white;
  top: 0;
  right: 0;
  position: absolute;
  max-height: 100vh;
  overflow: hidden;
}

.header_text {
  position: relative;
  margin-left: 13.3vw;
  margin-top: 22vh;
  padding: 0;
}

@media(max-width: 1370px){
  .background_image {
    margin-top: -1300px;
    margin-right: -3070px;
  }
  .header_text {
    margin-top: 14.3vh;
  }
}

@media(min-height: 1430px){
  .background_image {
    height: 300vh;
  }
}

.header {
  height: calc(100vh - 73px);
  background-color: white;
}


@media(max-width: 800px){
  .header {
    max-height: 50vh;
  }
  .background {
    max-height: 60vh; 
  }
}


.name_main {
  @include heading-1;
  margin: 0;
  color: #251E29;
}

.description {
  @include heading-6;
  margin: 0;
  margin-top: 1.2rem;
  color: #251E29;
}

.links_img {
    width: 1.2rem;
    height: 1.2rem;
}

.links {
  margin-top: 2.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.external_link {  
  @include paragraph;
  color: #251E29;
  text-decoration: none;
  background: transparent url('/../public/icons/external-link.svg') center right no-repeat;
  background-size: 16px;
  padding-right: 20px;
  
  &:hover {
    border-bottom: 1px solid #251E29;
    margin-top: 1px;
    color: #251E29;
  }
}