@import "styles/common";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-width: 0;  
}

.collabsableOutput {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    margin-right: 4px;
    white-space: nowrap;
  }
}

.buttonShow {
  @include paragraph-small;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: $primary-0;
}

.withShowAll {
  display: flex;
}

.whenShowAll {
  white-space: normal;
}

.withoutMargin {
  margin-left: 0;
}