@import "../../variables.scss";

.value {
  transition: 0.3s;

  &:focus {
    outline: none;
    background-color: $background-active;
    border-color: $border-active;
    color: $text-white;
  }
}
