@import "../../styles/common";

.container {
  flex-direction: column;
  gap: 32px;
  display: flex;
}
.chart {
  gap: 48px;
  display: flex;

  .labels {
    align-self: center;
    display: inline-block;

    li {
      @include paragraph;
      color: $black;
    }

    li.hover {
      color: $primary-0;
    }

    li.hover::before {
      background-color: $primary-0;
    }

    li::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 7.5px;
      margin-right: 8px;
      background-color: $black-25;
    }
  }
}

.selectedAttributes {
  gap: 8px;
  display: flex;

  span {
    padding: 8px 18px;
    border-radius: 8px;
    color: $black-75;
    background-color: $black-10;
    cursor: pointer;
  }
}

:export {
  standardSectionColor: $black-25;
  otherSectionColor: $black-75;
  hoverSectionColor: $primary-0;
}
