@import "styles/common";

.dialogOverlay {
  box-sizing: border-box;
  background: $black-50;
  display: grid;
  place-items: center;
  z-index: 99999;
}

.dialog {
  @include dropdown-shadow;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  max-height: calc(100% - 64px);
  padding: 48px;
  overflow-y: auto;
  overflow-x: visible;
  border-radius: 16px;
  background: $white;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
