@import "styles/common";

.clusterContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .options {
    background-color: $primary-10;
    padding: 8px;
    border-radius: 8px;

    img {
      cursor: pointer;
    }

    .optionsOverlay {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .optionsDropdown {
      z-index: 1;
      position: absolute;
      flex-direction: column;
      display: flex;
      padding: 16px;
      gap: 8px;
      background-color: $white;
      margin-top: 20px;
      border-radius: 8px;
      box-shadow: 0 51px 48px rgba(0, 0, 0, 0.06),
        0 21.3066px 20.0533px rgba(0, 0, 0, 0.0431313),
        0 11.3915px 10.7214px rgba(0, 0, 0, 0.0357664),
        0 6.38599px 6.01034px rgba(0, 0, 0, 0.03),
        0 3.39155px 3.19205px rgba(0, 0, 0, 0.0242336),
        0 1.4113px 1.32828px rgba(0, 0, 0, 0.0168687);
    }
  }
}

.container {
  border: 2px solid $black-25;
  border-top: none;
  border-radius: 8px;
  max-height: 360px;
  height: 100%;
  overflow: auto;
  margin-bottom: 24px;
}

.table {
  tbody {
    td {
      @include paragraph-small;
      white-space: nowrap;
      padding: 8px 24px;
    }

    tr.alternate:nth-child(even) {
      background-color: $black-05;
    }
  }

  thead {
    position: sticky;
    top: 0;
    background: $primary-no-alpha-10;
    box-shadow: inset 0 1px $black-25, 0 1px $black-25;

    td {
      @include paragraph;
      white-space: nowrap;
      padding: 12px 24px;
    }
  }

  td.highlighted {
    background: $primary-25;
  }

  td.hidden {
    display: none;
  }
}

.disabled .table tbody {
  td {
    color: $black-10;
    pointer-events: none;
  }
}
