@import "styles/common";

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;

  @media (max-width: 1600px) {
    width: 100%;
  }
}

.canvas {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 480px;

  @media (max-width: 1600px) {
    max-width: 360px;
  }
}

.chart {
  display: flex;
  gap: 48px;

  .labels {
    display: inline-block;
    align-self: center;
    max-width: 240px;
    width: 100%;

    li {
      @include paragraph;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $black;
    }

    li.hover {
      color: $primary-0;
    }

    li.hover::before {
      background-color: $primary-0;
    }

    li::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 7.5px;
      margin-right: 8px;
      background-color: $black-25;
    }
  }
}

.selectedAttributesContainer {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;

  .selectedAttribute {
    @include paragraph-small;
    padding: 8px 18px;
    border-radius: 8px;
    color: $black-75;
    background-color: $black-10;
    cursor: pointer;
  }
}

:export {
  standardSectionColor: $black-25;
  otherSectionColor: $black-75;
  hoverSectionColor: $primary-0;
}
