@import "styles/common";

.containerOuter {
  @include paragraph-small;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  border: solid 2px $black-50;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  max-width: 836px;
  background-color: $white-25;
  cursor: pointer;
}

.icons {
  width: 16px;
  height: 16px;
  color: $black-75;
}

.containerInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-width: 0;
}

.selected {
  border-color: $primary-0;
  background-color: $secondary-1;
}

.attributes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.attribute {
  @include paragraph-small;
  border: 2px solid transparent;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background: $black-10;
  text-align: center;
  color: $black-75;
}
