@import "styles/common";

.inputCheckbox {
  .inputContainer {
    @include paragraph;
    display: flex;
    align-items: center;
    color: $black;
    cursor: pointer;

    input {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 0 16px 0 0;
      background: $white-25;
      border: 2px solid $black-50;
      border-radius: 4px;

      &.simple {
        width: 8px;
        height: 8px;
        border: none;
      }

      &:checked {
        background: $primary-0;
        border: 2px solid $primary-0;

        &.simple {
          border: none;
          background: url("../../../assets/icons/check.svg");
        }
      }

      &:hover:not(:disabled) {
        border: 2px solid $primary-0;
        &.simple {
          border: none;
        }
      }

      &.checkboxError {
        border: 2px solid $error;

        &:hover {
          border: 2px solid $error;
        }

        &:checked {
          background: $error;
          border: 2px solid $error;
        }
      }
    }
  }

  .error {
    @include paragraph-small;
    margin: 8px 0 0;
    color: $error;
  }

  &.disabled {
    opacity: 0.5;
  }
}
