@import "styles/common";

.container {
  gap: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  h6 {
    margin: 0 0 16px;
  }
}

.status {
  font-weight: 700;
}

.progress {
  color: $primary-0;
}

.queued {
  color: $info;
}

.completed {
  color: $success;
}

.error {
  color: $error;
}

.resources-limit { 
  color: $error;
}
