@import "styles/common";

.select {
  @include paragraph;
  color: $black;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.selectInputContainer {
  display: flex;
  gap: 16px;
  box-sizing: border-box;
  padding: 0;

  input {
    margin: 0;
  }
}

.dropdown {
  border-radius: 4px;
  z-index: 1000000;
}

.options {
  padding: 10px;
  cursor: default;
  color: $black;
}

.selectInput::placeholder {
  color: $black;
}
