@import "styles/common";

.wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
}

.name {
  display: flex;
  gap: 8px;
  align-items: baseline;

  span {
    @include paragraph;
  }

  h6 {
    color: $primary-0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.badges {
  display: flex;
  gap: 8px;
}

.nameWithBadges {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.basicStats, .moreStats {
  display: flex;
  gap: 16px 32px;
  flex-wrap: wrap;
}

@mixin compactMoreStats {
  flex-direction: column;
  flex-wrap: initial;

  & > article > div {
    justify-content: space-between;
  }
}

.moreStats {
  & > * {
    flex: 1;
  }

  @media (max-width: 960px) {
    @include compactMoreStats;
  }
}

.compact {
  .moreStats {
    @include compactMoreStats;
  }
}

button.detailsButton {
  padding: 8px 16px;
  margin-left: auto;
}

.wrapper :global(.ReactCollapse--collapse) {
  transition: height 0.3s;
}

.tableMode {
  .basicStats {
    gap: 4px 32px;

    * {
      flex: 1;
    }

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }

  @media (min-width: 961px) {
    .basicStats, .moreStats {
      & > :first-child:not(:last-child) {
        border-right: 1px solid $black-50;
      }
    }
  }
}

.compact > .tableMode {
  .basicStats {
    flex-direction: column;
  }

  .basicStats, .moreStats {
    & > :first-child:not(:last-child) {
      border-right: none;
    }
  }
}
