@import "styles/common";

.wrapper {
  width: 100%;
  background: $black-10;
  border-radius: 4px;
  overflow: hidden;

  progress {
    width: 0;
    height: 0;
    opacity: 0;
    display: block;
  }
}

.bar {
  height: 4px;
  background: $primary-gradient-0;
  transition: width 0.3s;
}
