@import "styles/common";

.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  border-radius: 8px;
}

.header {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.2rem;
}

@mixin template($color) {
  background: rgba($color, 0.1);

  .header {
    color: $color;
  }

  & > svg {
    fill: $color;
  }

  p {
    /* stylelint-disable */
    color: darken($color, 50%);
    /* stylelint-enable */
  }
}

.info {
  color: $info;
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.warning {
  @include template($warning);
}
