@import "styles/common";

.background_image {
  margin-top: -850px;
  margin-right: -1800px;
  min-width: 100vw;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  min-width: 50vw;
  background: $background-light;
}

.section_text {
  margin-top: 8.7vh;
  padding: 0;
  position: relative;
  text-align: center;
}

@media(max-width: 1370px) {
  .background_image {
    margin-top: -1300px;
    margin-right: -3070px;
  }
  .section_text {
    margin-top: 14.3vh;
  }
}

@media(min-height: 1430px) {
  .background_image {
    height: 300vh;
  }
}

@media(max-width: 800px) {
  .page {
    max-height: 50vh;
  }

  .background {
    // max-height: 60vh;
  }
}


.name_main {
  margin: 0;
  color: $text-black;
}

.description {
  margin: 1.2rem 0 0;
  color: $text-black;
}

.links_img {
  width: 1.2rem;
  height: 1.2rem;
}

.links {
  flex-direction: row;
  align-items: center;
  gap: 48px;
  display: flex;
  margin-top: 2.9rem;
}

.footer {
  position: relative;
  width: 70%;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.userFiles {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 48px;

  h5 {
    margin-top: 48px;
    margin-bottom: 24px;
    cursor: pointer;
  }
}

.files {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.uploader_title {
  display: flex;
  width: 100%;
  margin: auto; 
  justify-content: center; 
  gap: 8px;
  cursor: pointer;
}
