@import "styles/common";

.filters {
  flex-direction: row;
  gap: 16px;
  display: flex;
  align-items: flex-end;
  margin-top: 32px;

  .buttons {
    gap: 16px;
    display: flex;
  }
}

.rows {
  padding-top: 24px;
  min-height: 300px;
}

.attr {
  border-radius: 8px;
  padding: 8px 18px;
  text-align: center;
  background: $black-10;
  color: $black-75;
}

.row {
  gap: 16px;
  display: flex;
  margin-top: 10px;
  height: 35px;
  cursor: pointer;
}

.row.selectedRow {
  .attr {
    padding: 6px 16px;
    border: 2px solid $primary-0;
    background: $secondary-1;
    color: $black;
  }
}

.pagination {
  margin-top: 24px;
}
