@import "styles/common";

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  min-width: 100vw;
  max-height: 100vh;
  margin-top: -1550px;
  margin-right: -2900px;
}

.home_text {
  position: relative;
  margin-left: 13.3vw;
  margin-top: 22vh;
  padding: 0;
}

@media(max-width: 1370px) {
  .background_image {
    margin-top: -1300px;
    margin-right: -3070px;
  }

  .home_text {
    margin-top: 14.3vh;
  }
}

@media(min-height: 1430px) {
  .background_image {
    height: 300vh;
  }
}

@media(max-width: 800px) {
  .home {
    max-height: 50vh;
  }

  .background {
    max-height: 60vh;
  }
}


.name_main {
  margin: 0;
  color: $text-black;
}

.description {
  margin: 1.2rem 0 0;
  color: $text-black;
}

.links_img {
  width: 1.2rem;
  height: 1.2rem;
}

.links {
  flex-direction: row;
  align-items: center;
  gap: 48px;
  display: flex;
  margin-top: 2.9rem;
}
